@media only screen and (max-width: 600px)
{
  .main-slider
  {
    padding: 70px 20px;
  }
  
  .slider-text
  {
    line-height: 1.5;
    font-size: 14px;
    width: 100%;
    text-align: center;
  }
  
  .heading h1
  {
    font-size: 22px;
    line-height: 1.5;
  }
  
  .home-para
  {
    font-size: 16px;
  }
  
  .home-slider
  {
    height: 300px;
  }
}